.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 40px;
  grid-template-areas:
    "title autor"
    "img description"
    "img description"
    "button description";
  margin: 0 auto 80px auto;
  max-width: 984px;
}

.place__title {
  grid-area: title;
  font-family: Inter, Arial, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  margin: 0;
}

.place__autor {
  display: block;
  grid-area: autor;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 0;
}

.place__img {
  grid-area: img;
  width: 100%;
  max-width: 460px;
  height: auto;
  object-fit: cover;
  background: #000;
  box-shadow: 10px 10px 25px 0px #00000080;
  border-radius: 10px;
  display: block;
}

.place__description {
  grid-area: description;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  color: #fff;
}

.place__button {
  grid-area: button;
  display: inline-block;
  min-width: 289px; /* Nunca más pequeño que esto */
  padding: 13px 20px;
  border-radius: 4px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 5px 5px 10px 0px #00000040;
  text-decoration: none;
  text-align: center;
  gap: 10px;
}

@media screen and (max-width: 1024px) {
  .place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 20px;
    grid-template-areas:
      "title autor"
      "img description"
      "img description"
      "button description";
  }
}
@media screen and (max-width: 544px) {
  .place {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    grid-template-areas:
      "title"
      "autor"
      "img"
      "description"
      "button";
  }
}
